<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration debug="true">
	<appender name="le" class="com.logentries.log4j.LeAppender">
    	<param name="Key" value="3a52741f-9181-4fb7-8f09-c3c105a39729"/>
    	<param name="Location" value="moukail/streamtv"/>
    	<param name="Debug" value="true"/>
    	<layout class="org.apache.log4j.PatternLayout">
    		<param name="ConversionPattern" value="%d{EEE MMM dd HH:mm:ss ZZZ yyyy},
    		(%F:%L) %-5p: %m"/>
    	</layout>
    </appender>
    <logger name="example">
    	<level value="debug"/>
    </logger>
    <root>
    	<priority value="debug"></priority>
    	<appender-ref ref="le"/>
    </root>
</log4j:configuration>
